@font-face {
    font-family: "NotoSansCJKkr";
    font-weight: 300;
    src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2");
}

@font-face {
    font-family: "NotoSansCJKkr";
    font-weight: 400;
    src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "NotoSansCJKkr";
    font-weight: 500;
    src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "NotoSansCJKkr";
    font-weight: 700;
    src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Archivo";
    font-weight: 300;
    src: url("../fonts/Archivo-Light.woff2") format("woff2")
}

@font-face {
    font-family: "Archivo";
    font-weight: 400;
    src: url("../fonts/Archivo-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Archivo";
    font-weight: 600;
    src: url("../fonts/Archivo-SemiBold.woff2") format("woff2")
}

/* 
@font-face {
    font-family: "Archivo";
    font-weight: 700;
    src: url("../fonts/Archivo-Bold.woff2") format("woff2")
} */